#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4B5563
} 